div(class="row animated fadeIn")
	p(style="margin: 0px; color: white")
		span(class=`team-${team}`)
			a(style="text-decoration: none; color: inherit;" href=`http://steamcommunity.com/profiles/${steam64}` target="_blank")=sender
		=` : ${message}`